package ui

templ Layout(title string, loggedIn bool, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{ title } - BackRetroLog</title>
			<script src="https://unpkg.com/htmx.org@2.0.4"></script>
			<link rel="stylesheet" href="/static/style.css">
		</head>
		<body>
			@Navbar(loggedIn)
			<main>
				@content
			</main>
		</body>
	</html>
}
